{% load static %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src={% static "js/jquery-3.3.1.min.js" %}></script>
<script src={% static "js/popper.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/stellar.js" %}></script>
<script src={% static "vendors/lightbox/simpleLightbox.min.js" %}></script>
<script src={% static "vendors/nice-select/js/jquery.nice-select.min.js" %}></script>
<script src={% static "vendors/isotope/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "vendors/isotope/isotope.pkgd.min.js" %}></script>
<script src={% static "vendors/owl-carousel/owl.carousel.min.js" %}></script>
<script src={% static "vendors/popup/jquery.magnific-popup.min.js" %}></script>
<script src={% static "js/jquery.ajaxchimp.min.js" %}></script>
<script src={% static "vendors/counter-up/jquery.waypoints.min.js" %}></script>
<script src={% static "vendors/counter-up/jquery.counterup.min.js" %}></script>
<script src={% static "js/mail-script.js" %}></script>
<script src={% static "js/theme.js" %}></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

